In [2]:
import pandas as pd

# Задание 1

Задание:
1.	Скачать данные по ссылке https://www.kaggle.com/datasets/ionaskel/laptop-prices
2.	Считать данные с помощью pandas
3.	Вывести на экран первые 5 строк

In [3]:
df = pd.read_csv("laptop_price (3).csv", encoding="latin-1")
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

1.1 Создать новый признак Cpu_Company, который будет содержать только название фирмы, которая произвела CPU

In [4]:
def preprocess(x):
    return x.split()[0]

In [5]:
preprocess("Intel Iris Plus Graphics 650")

'Intel'

In [6]:
# df["Cpu_Company"] = df["Cpu"].apply(preprocess)
df["Cpu_Company"] = df["Cpu"].apply(lambda x: x.split()[0])

In [17]:
df.head(2)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel

1.2 Создать новый признак Memory_Amount, который будет содержать только количество Gb памяти без указания типа носителя

In [7]:
"128GB Flash Storage".split()[0].replace('GB','')

'128'

In [8]:
def mem_value(x):
    if x.split()[0].endswith('GB'):
        res = x.split()[0].replace('GB','')
    elif x.split()[0].endswith('TB'):
        res = float(x.split()[0].replace('TB','')) * 1024
    return int(res)

In [9]:
df['Memory_Amount'] = df['Memory'].apply(mem_value)

In [10]:
df.head(2)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128

1.3 Создать новый признак Memory_Type, который будет содержать только тип носителя (HDD/SDD/др.)

In [11]:
"128GB SSD".replace(' ', '').split("B")[-1]

'SSD'

In [12]:
df['Memory_Type'] = df['Memory'].apply(lambda x: x.replace(' ', '').split('B')[-1])
df.head(2)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,FlashStorage

1.4 Удалите признаки Memory и ScreenResolution

In [13]:
df.drop(columns=['Memory','ScreenResolution'], inplace=True)
df.head(2)

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,FlashStorage

---
# Задание 2

2.1 Создайте признак SSD, который изначально равен 0

In [14]:
df["SSD"] = 0
df.head(2)

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD,0
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,FlashStorage,0

2.2 Поставьте в признаке SSD 1, если ноутбук действительно с типом носителя SSD

In [15]:
df["Memory_Type"].unique()

array(['SSD', 'FlashStorage', 'HDD', 'Hybrid'], dtype=object)

In [16]:
# df[df['Memory_Type'] == 'SSD']["SSD"] = 1
df.loc[df['Memory_Type'] == 'SSD', 'SSD'] = 1
df.head(2)

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD,1
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,FlashStorage,0

2.3 Уберите в признаке Weight значения 'kg' и поменяйте его тип данных на вещественный

In [18]:
df["Weight"] = df["Weight"].str.replace('kg', '')
df.head(2)

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,Intel,128,SSD,1
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34,898.94,Intel,128,FlashStorage,0

In [19]:
df["Weight"] = df["Weight"].astype("float")
df.head(2)

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,Intel,128,SSD,1
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34,898.94,Intel,128,FlashStorage,0

# Задание 3

Создайте датафрейм с клиентами:

```python
clients = pd.DataFrame({
  'client_id': [45, 32, 67, 33, 43],
  'laptop_id': [506, 398, 710, 120, 1999]
})
```

In [20]:
clients = pd.DataFrame({
  'client_id': [45, 32, 67, 33, 43],
  'laptop_id': [506, 398, 710, 120, 1999]
})
clients

   client_id  laptop_id
0         45        506
1         32        398
2         67        710
3         33        120
4         43       1999

3.1 Присоедините к таблице clients данные по ноутбукам через метод join

Это нужно, чтобы понимать, какие ноутбуки покупались клиентами

laptop_id - это индексы датафрейма с ноутбуками

In [21]:
df.head(2)

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,Intel,128,SSD,1
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34,898.94,Intel,128,FlashStorage,0

In [47]:
client_lap_id

           client_id
laptop_id
506               45
398               32
710               67
120               33
1999              43

In [22]:
# df.set_index('laptop_ID').join(client_lap_id, how="right")

NameError: name 'client_lap_id' is not defined

In [23]:
client_lap_id = clients.set_index('laptop_id')
joined = client_lap_id.join(df.set_index('laptop_ID'), how="left")
joined

,client_id,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
laptop_id,,,,,,,,,,,,,,,
506,45,Lenovo,ThinkPad L570,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256.0,SSD,1.0
398,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,67,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,AMD A12-Series 9720P 3.6GHz,8GB,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024.0,HDD,0.0
120,33,Dell,Inspiron 7570,Notebook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256.0,HDD,0.0
1999,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
joined = clients.set_index('laptop_id').join(df.set_index("laptop_ID"))
joined

,client_id,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
laptop_id,,,,,,,,,,,,,,,
506,45,Lenovo,ThinkPad L570,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256.0,SSD,1.0
398,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,67,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,AMD A12-Series 9720P 3.6GHz,8GB,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024.0,HDD,0.0
120,33,Dell,Inspiron 7570,Notebook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256.0,HDD,0.0
1999,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3.2 Присоедините к таблице clients данные по ноутбукам через метод merge

In [ ]:
joined = clients.set_index('laptop_id').join(df.set_index("laptop_ID"), how="inner")
joined

,client_id,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
506,45,Lenovo,ThinkPad L570,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256,SSD,1
710,67,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,AMD A12-Series 9720P 3.6GHz,8GB,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024,HDD,0
120,33,Dell,Inspiron 7570,Notebook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256,HDD,0

In [ ]:
df['laptop_id'] = df['laptop_ID']

In [ ]:
clients.head()

   client_id  laptop_id
0         45        506
1         32        398
2         67        710
3         33        120
4         43       1999

In [26]:
merged = clients.merge(df, left_on="laptop_id", right_on="laptop_ID", how="left")
merged

,client_id,laptop_id,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,45,506,506.0,Lenovo,ThinkPad L570,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256.0,SSD,1.0
1,32,398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,67,710,710.0,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,AMD A12-Series 9720P 3.6GHz,8GB,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024.0,HDD,0.0
3,33,120,120.0,Dell,Inspiron 7570,Notebook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256.0,HDD,0.0
4,43,1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Задание 4

4.1 Найдите среднюю стоимость ноутбуков в зависимости от компании производителя
Отсортируйте от меньшей стоимости к большей

In [69]:
df_info = {}
for company in df["Company"].unique():
    df_info[company] = [df[df["Company"] == company]["Price_euros"].mean()]

In [96]:
pd.DataFrame(df_info).T

                     0
Apple      1564.198571
HP         1067.774854
Acer        626.775825
Asus       1104.169367
Dell       1186.068990
Lenovo     1086.384444
Chuwi       314.296667
MSI        1728.908148
Microsoft  1612.308333
Toshiba    1267.812500
Huawei     1424.000000
Xiaomi     1133.462500
Vero        217.425000
Razer      3346.142857
Mediacom    295.000000
Samsung    1413.444444
Google     1677.666667
Fujitsu     729.000000
LG         2099.000000

In [ ]:
df[df["Company"] == "Acer"]["Price_euros"].mean()

626.7758252427185

In [27]:
df.groupby('Company')["Price_euros"].describe()

,count,mean,std,min,25%,50%,75%,max
Company,,,,,,,,
Acer,103.0,626.775825,375.671363,174.00,385.5000,559.00,774.5000,2599.00
Apple,21.0,1564.198571,561.623595,898.94,1163.0000,1339.69,1958.9000,2858.00
Asus,158.0,1104.169367,702.490232,191.90,537.2500,1012.50,1488.2500,3975.00
Chuwi,3.0,314.296667,116.672889,244.99,246.9450,248.90,348.9500,449.00
Dell,297.0,1186.068990,672.941227,274.90,735.0700,985.00,1472.2000,3659.40
Fujitsu,3.0,729.000000,75.498344,649.00,694.0000,739.00,769.0000,799.00
Google,3.0,1677.666667,473.292017,1275.00,1417.0000,1559.00,1879.0000,2199.00
HP,274.0,1067.774854,617.508031,209.00,615.9975,966.50,1389.0000,4389.00
Huawei,2.0,1424.000000,106.066017,1349.00,1386.5000,1424.00,1461.5000,1499.00
LG,3.0,2099.000000,200.000000,1899.00,1999.0000,2099.00,2199.0000,2299.00
Lenovo,297.0,1086.384444,698.426088,229.00,549.0000,899.00,1488.9900,4899.00
MSI,54.0,1728.908148,530.348129,839.00,1206.5000,1599.00,2187.5925,2799.00
Mediacom,7.0,295.000000,60.663004,239.00,252.0000,265.00,334.0000,389.00
Microsoft,6.0,1612.308333,598.431057,989.00,1151.7500,1569.50,1850.6375,2589.00
Razer,7.0,3346.142857,1859.988479,1029.00,2199.0000,2899.00,4499.0000,6099.00
Samsung,9.0,1413.444444,556.509459,269.00,1499.0000,1649.00,1699.0000,1849.00
Toshiba,48.0,1267.812500,478.913294,447.00,965.5000,1211.50,1535.0000,2799.00
Vero,4.0,217.425000,29.020266,196.00,201.1750,206.85,223.1000,260.00
Xiaomi,4.0,1133.462500,210.188056,935.00,983.6750,1099.45,1249.2375,1399.95

In [73]:
df.groupby('Company').describe()

          laptop_ID                                                         \
              count        mean         std    min     25%    50%      75%
Company
Acer          103.0  585.087379  393.079823    6.0  234.50  550.0   909.00
Apple          21.0  304.142857  478.097614    1.0    8.00   27.0   275.00
Asus          158.0  614.765823  400.680364    9.0  280.00  540.0   909.25
Chuwi           3.0  316.333333  249.042834   31.0  229.50  428.0   459.00
Dell          297.0  650.599327  375.415703   14.0  345.00  639.0   965.00
Fujitsu         3.0  733.666667  229.765823  574.0  602.00  630.0   813.50
Google          3.0  564.666667  179.544795  444.0  461.50  479.0   625.00
HP            274.0  703.722628  393.723118    3.0  349.00  759.0  1046.25
Huawei          2.0  196.500000   31.819805  174.0  185.25  196.5   207.75
LG              3.0  841.666667  134.834466  686.0  801.50  917.0   919.50
Lenovo        297.0  682.471380  358.541377   19.0  392.00  650.0   968.00
MSI            54.0  760.759259  389.340998   59.0  422.00  794.5  1118.75
Mediacom        7.0  581.000000   88.313834  436.0  551.50  582.0   610.00
Microsoft       6.0  373.666667  235.802177   72.0  194.25  460.0   464.75
Razer           7.0  812.428571  340.118537  200.0  721.00  825.0   985.50
Samsung         9.0  796.222222  212.203191  437.0  754.00  780.0   885.00
Toshiba        48.0  722.375000  287.527954  146.0  528.00  803.0   968.00
Vero            4.0  796.250000  425.526634  195.0  648.75  927.5  1075.00
Xiaomi          4.0  448.250000  331.678936  188.0  194.00  358.5   612.75

                  Inches             ... Memory_Amount            SSD  \
              max  count       mean  ...           75%     max  count
Company                              ...
Acer       1309.0  103.0  15.063107  ...        1024.0  1024.0  103.0
Apple      1252.0   21.0  13.247619  ...         512.0   512.0   21.0
Asus       1320.0  158.0  15.450000  ...         512.0  2048.0  158.0
Chuwi       490.0    3.0  14.500000  ...          64.0    64.0    3.0
Dell       1313.0  297.0  15.136027  ...         512.0  2048.0  297.0
Fujitsu     997.0    3.0  15.600000  ...         640.0  1024.0    3.0
Google      771.0    3.0  12.300000  ...         384.0   512.0    3.0
HP         1319.0  274.0  14.943066  ...         512.0  2048.0  274.0
Huawei      219.0    2.0  13.000000  ...         448.0   512.0    2.0
LG          922.0    3.0  15.066667  ...         512.0   512.0    3.0
Lenovo     1318.0  297.0  14.872727  ...         512.0  2048.0  297.0
MSI        1277.0   54.0  16.442593  ...         256.0  1024.0   54.0
Mediacom    726.0    7.0  13.457143  ...          32.0    32.0    7.0
Microsoft   678.0    6.0  13.500000  ...         256.0   512.0    6.0
Razer      1249.0    7.0  14.514286  ...         768.0  1024.0    7.0
Samsung    1209.0    9.0  13.822222  ...         256.0   256.0    9.0
Toshiba    1133.0   48.0  14.354167  ...         500.0   512.0   48.0
Vero       1135.0    4.0  13.825000  ...          32.0    32.0    4.0
Xiaomi      888.0    4.0  14.450000  ...         256.0   256.0    4.0


               mean       std  min  25%  50%  75%  max
Company
Acer       0.359223  0.482119  0.0  0.0  0.0  1.0  1.0
Apple      0.523810  0.511766  0.0  0.0  1.0  1.0  1.0
Asus       0.297468  0.458598  0.0  0.0  0.0  1.0  1.0
Chuwi      0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
Dell       0.491582  0.500773  0.0  0.0  0.0  1.0  1.0
Fujitsu    0.666667  0.577350  0.0  0.5  1.0  1.0  1.0
Google     1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
HP         0.543796  0.498990  0.0  0.0  1.0  1.0  1.0
Huawei     1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
LG         1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
Lenovo     0.572391  0.495567  0.0  0.0  1.0  1.0  1.0
MSI        0.092593  0.292582  0.0  0.0  0.0  0.0  1.0
Mediacom   0.571429  0.534522  0.0  0.0  1.0  1.0  1.0
Microsoft  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
Razer      1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
Samsung    0.666667  0.500000  0.0  0.0  1.0  1.0  1.0
Toshiba    0.812500  0.394443  0.0  1.0  1.0  1.0  1.0
Vero       0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
Xiaomi     1.000000  0.000000  1.0  1.0  1.0  1.0  1.0

[19 rows x 48 columns]

In [28]:
df.groupby('Company').agg({'Price_euros': 'mean'}).sort_values('Price_euros')

           Price_euros
Company
Vero        217.425000
Mediacom    295.000000
Chuwi       314.296667
Acer        626.775825
Fujitsu     729.000000
HP         1067.774854
Lenovo     1086.384444
Asus       1104.169367
Xiaomi     1133.462500
Dell       1186.068990
Toshiba    1267.812500
Samsung    1413.444444
Huawei     1424.000000
Apple      1564.198571
Microsoft  1612.308333
Google     1677.666667
MSI        1728.908148
LG         2099.000000
Razer      3346.142857

4.2 Найдите минимальную, среднюю и максимальную стоимости ноутбуков в зависимости от производителя процессора

In [29]:
df.groupby("Cpu_Company").agg({"Price_euros": ["min", "mean", "max"]})

            Price_euros
                    min         mean     max
Cpu_Company
AMD               199.0   560.638871  2199.0
Intel             174.0  1152.214145  6099.0
Samsung           659.0   659.000000   659.0

4.3 Постройте таблицу с подсчетом количества ноутбуков в данных в зависимости от производителя CPU и ОЗУ

In [30]:
df.isna().sum()

laptop_ID        0
Company          0
Product          0
TypeName         0
Inches           0
Cpu              0
Ram              0
Gpu              0
OpSys            0
Weight           0
Price_euros      0
Cpu_Company      0
Memory_Amount    0
Memory_Type      0
SSD              0
dtype: int64

In [31]:
df.head(1)

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,Intel,128,SSD,1

In [33]:
df1 = clients.set_index('laptop_id').join(df.set_index("laptop_ID"), how="inner")

In [34]:
df1.pivot_table(
    index='Cpu_Company',
    columns='Ram',
    aggfunc='count',
    values='Price_euros',
    fill_value=0
)

Ram          8GB
Cpu_Company
AMD            1
Intel          2

In [35]:
df.pivot_table(
    index='Cpu_Company',
    columns='Ram',
    aggfunc='count',
    values='Price_euros',
    fill_value=0
)

Ram          12GB  16GB  24GB  2GB  32GB  4GB  64GB  6GB  8GB
Cpu_Company
AMD             2     3     0    1     0   31     0   13   12
Intel          23   197     3   21    17  343     1   28  607
Samsung         0     0     0    0     0    1     0    0    0

4.4 Постройте таблицу с подсчетом средней стоимости ноутбуков в данных в зависимости от операционной системы и GB памяти

In [36]:
df.pivot_table(
    index='OpSys',
    columns='Memory_Amount',
    aggfunc='mean',
    values='Price_euros',
    fill_value=0
)

Memory_Amount,8,16,32,64,128,180,240,256,500,508,512,1024,2048
OpSys,,,,,,,,,,,,,
Android,0.0,0.00,0.000000,434.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0000
Chrome OS,0.0,305.38,412.454545,774.333333,1275.000000,0.0,0.0,1559.000000,0.000000,0.0,2199.000000,0.000000,0.0000
Linux,0.0,0.00,0.000000,0.000000,742.250000,0.0,0.0,811.638125,389.056364,0.0,0.000000,581.401290,0.0000
Mac OS X,0.0,0.00,0.000000,0.000000,1099.000000,0.0,0.0,1311.994000,0.000000,0.0,1222.000000,0.000000,0.0000
No OS,0.0,0.00,0.000000,0.000000,562.140000,0.0,0.0,782.989286,404.675385,0.0,1098.500000,540.539600,594.0000
Windows 10,2249.0,0.00,270.001471,499.716000,1026.489167,1073.5,3100.0,1334.456872,664.717647,0.0,1911.985285,904.827906,666.9475
Windows 10 S,0.0,0.00,0.000000,308.995000,1039.000000,0.0,0.0,1668.950000,0.000000,0.0,2589.000000,0.000000,0.0000
Windows 7,0.0,0.00,0.000000,0.000000,1320.323333,1199.0,0.0,1846.466800,924.048333,1002.0,2235.396667,1539.666667,0.0000
macOS,0.0,0.00,0.000000,0.000000,1119.315000,0.0,0.0,1600.370000,0.000000,0.0,2180.870000,0.000000,0.0000

In [37]:
pd.crosstab(
    index=df["OpSys"],
    columns=df["Memory_Amount"],
    aggfunc="mean",
    values=df["Price_euros"]
).fillna(0)

Memory_Amount,8,16,32,64,128,180,240,256,500,508,512,1024,2048
OpSys,,,,,,,,,,,,,
Android,0.0,0.00,0.000000,434.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0000
Chrome OS,0.0,305.38,412.454545,774.333333,1275.000000,0.0,0.0,1559.000000,0.000000,0.0,2199.000000,0.000000,0.0000
Linux,0.0,0.00,0.000000,0.000000,742.250000,0.0,0.0,811.638125,389.056364,0.0,0.000000,581.401290,0.0000
Mac OS X,0.0,0.00,0.000000,0.000000,1099.000000,0.0,0.0,1311.994000,0.000000,0.0,1222.000000,0.000000,0.0000
No OS,0.0,0.00,0.000000,0.000000,562.140000,0.0,0.0,782.989286,404.675385,0.0,1098.500000,540.539600,594.0000
Windows 10,2249.0,0.00,270.001471,499.716000,1026.489167,1073.5,3100.0,1334.456872,664.717647,0.0,1911.985285,904.827906,666.9475
Windows 10 S,0.0,0.00,0.000000,308.995000,1039.000000,0.0,0.0,1668.950000,0.000000,0.0,2589.000000,0.000000,0.0000
Windows 7,0.0,0.00,0.000000,0.000000,1320.323333,1199.0,0.0,1846.466800,924.048333,1002.0,2235.396667,1539.666667,0.0000
macOS,0.0,0.00,0.000000,0.000000,1119.315000,0.0,0.0,1600.370000,0.000000,0.0,2180.870000,0.000000,0.0000

In [38]:
df.groupby(["OpSys", "Memory_Amount"]).agg({"Price_euros": "mean"})

                            Price_euros
OpSys        Memory_Amount
Android      64              434.000000
Chrome OS    16              305.380000
             32              412.454545
             64              774.333333
             128            1275.000000
             256            1559.000000
             512            2199.000000
Linux        128             742.250000
             256             811.638125
             500             389.056364
             1024            581.401290
Mac OS X     128            1099.000000
             256            1311.994000
             512            1222.000000
No OS        128             562.140000
             256             782.989286
             500             404.675385
             512            1098.500000
             1024            540.539600
             2048            594.000000
Windows 10   8              2249.000000
             32              270.001471
             64              499.716000
             128            1026.489167
             180            1073.500000
             240            3100.000000
             256            1334.456872
             500             664.717647
             512            1911.985285
             1024            904.827906
             2048            666.947500
Windows 10 S 64              308.995000
             128            1039.000000
             256            1668.950000
             512            2589.000000
Windows 7    128            1320.323333
             180            1199.000000
             256            1846.466800
             500             924.048333
             508            1002.000000
             512            2235.396667
             1024           1539.666667
macOS        128            1119.315000
             256            1600.370000
             512            2180.870000

In [39]:
df.groupby(["OpSys", "Memory_Amount"]).agg({"Price_euros": "mean"}).unstack("Memory_Amount").fillna(0)

              Price_euros                                               \
Memory_Amount        8       16          32          64           128
OpSys
Android               0.0    0.00    0.000000  434.000000     0.000000
Chrome OS             0.0  305.38  412.454545  774.333333  1275.000000
Linux                 0.0    0.00    0.000000    0.000000   742.250000
Mac OS X              0.0    0.00    0.000000    0.000000  1099.000000
No OS                 0.0    0.00    0.000000    0.000000   562.140000
Windows 10         2249.0    0.00  270.001471  499.716000  1026.489167
Windows 10 S          0.0    0.00    0.000000  308.995000  1039.000000
Windows 7             0.0    0.00    0.000000    0.000000  1320.323333
macOS                 0.0    0.00    0.000000    0.000000  1119.315000

                                                                             \
Memory_Amount    180     240          256         500     508          512
OpSys
Android           0.0     0.0     0.000000    0.000000     0.0     0.000000
Chrome OS         0.0     0.0  1559.000000    0.000000     0.0  2199.000000
Linux             0.0     0.0   811.638125  389.056364     0.0     0.000000
Mac OS X          0.0     0.0  1311.994000    0.000000     0.0  1222.000000
No OS             0.0     0.0   782.989286  404.675385     0.0  1098.500000
Windows 10     1073.5  3100.0  1334.456872  664.717647     0.0  1911.985285
Windows 10 S      0.0     0.0  1668.950000    0.000000     0.0  2589.000000
Windows 7      1199.0     0.0  1846.466800  924.048333  1002.0  2235.396667
macOS             0.0     0.0  1600.370000    0.000000     0.0  2180.870000


Memory_Amount         1024      2048
OpSys
Android           0.000000    0.0000
Chrome OS         0.000000    0.0000
Linux           581.401290    0.0000
Mac OS X          0.000000    0.0000
No OS           540.539600  594.0000
Windows 10      904.827906  666.9475
Windows 10 S      0.000000    0.0000
Windows 7      1539.666667    0.0000
macOS             0.000000    0.0000

# Задание 5

5.1 Ноутбуков каких компаний и с каким процессором больше?

In [40]:
pd.crosstab(
    index=df["Company"],
    columns=df["Cpu_Company"]
)

Cpu_Company  AMD  Intel  Samsung
Company
Acer          10     93        0
Apple          0     21        0
Asus          11    147        0
Chuwi          0      3        0
Dell           0    297        0
Fujitsu        0      3        0
Google         0      3        0
HP            25    249        0
Huawei         0      2        0
LG             0      3        0
Lenovo        16    281        0
MSI            0     54        0
Mediacom       0      7        0
Microsoft      0      6        0
Razer          0      7        0
Samsung        0      8        1
Toshiba        0     48        0
Vero           0      4        0
Xiaomi         0      4        0